.formlogin {
  position: absolute;
  background-color: #ffffff;
  width: 457px;
  height: 457px;
  left: 410px;
  top: 138px;
  border: 0.5px solid rgba(196, 196, 196, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 14px 34px rgba (0, 0, 0, 0.06);
  z-index: 1;
  display: none;
}
.formlogin > div {
  padding: 35px 0px 0px 50px;
}
.underlinel {
  width: 40px;
  border: 2px solid #45a199;
  background: #45a199;
  margin-top: -5px;
}
.formlogin > div > p {
  font-size: 12px;
  font-weight: 400;
  color: #4f4f4f;
  margin-top: 28px;
}
.input-detail input {
  padding: 20px;
  margin-top: 20px;
  height: 25px;
  width: 360px;
}

.terms-conditions {
  margin-top: 12px;
  color: #4f4f4f;
}
.terms-conditions input {
  height: 12px;
  width: 12px;
  border: 1.5px solid #2f80ed;
  border-radius: 1px;
}
.Login-button {
  margin-top: 30px;
  height: 42px;
  width: 145px;
  background: #45a199;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
